.container
{
    height: 960px;
    width: 1280px;
    /* background-color: black; */
    display: grid;
    grid-template-columns: 320px 320px 320px 320px;
    grid-template-rows: 320px 320px auto;  

}
img{
    width: 300px;
    height: 200px;
}
.container div{
    padding: 10px;
    height: 300px;
    width: 300px;
    text-align: center;
  }
button:hover{
    color: blue;
    
}