{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class=one ><a href=""><img src="{% static 'images/1.jpg' %}" alt=""></a>
        <button>Buy Now</button>
        <button>Add to Cart</button>
        </div>
        <div class=two><a href=""><img src="{% static 'images/1.jpg' %}" alt=""></a>
            <button>Buy Now</button>
            <button>Add to Cart</button></div>
        <div class=three><img src="{% static 'images/2.jpg' %}" alt="">
            <button>Buy Now</button>
            <button>Add to Cart</button></div>
        <div class=four><img src="{% static 'images/3.jpg' %}" alt="">
            <button>Buy Now</button>
            <button>Add to Cart</button></div>
        <div class=five><img src="{% static 'images/4.jpg' %}" alt="">
            <button>Buy Now</button>
            <button>Add to Cart</button></div>
        <div class=six><img src="{% static 'images/5.jpg' %}" alt="">
            <button>Buy Now</button>
            <button>Add to Cart</button></div>
        <div><img src="{% static 'images/6.jpg' %}" alt="">
            <button>Buy Now</button>
            <button>Add to Cart</button></div>
        <div><img src="{% static 'images/7.jpg' %}" alt="">
            <button>Buy Now</button>
            <button>Add to Cart</button></div>
        <div><img src="{% static 'images/8.jpg' %}" alt="">
            <button>Buy Now</button>
            <button>Add to Cart</button></div>
        <div><img src="{% static 'images/9.jpg' %}" alt="">
            <button>Buy Now</button>
            <button>Add to Cart</button></div>
        <div><img src="{% static 'images/10.jpg' %}" alt="">
            <button>Buy Now</button>
            <button>Add to Cart</button></div>
        <div><img src="{% static 'images/11.jpg' %}" alt="">
            <button>Buy Now</button>
            <button>Add to Cart</button></div>

    </div>
</body>
</html>